.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  /*
  google: add vertical scrollbar to whole page
  https://stackoverflow.com/questions/18183296/how-can-i-add-a-vertical-scrollbar-to-my-div-automatically
  */
  height: 100%;   
  overflow-y : scroll;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.foo {
  color: green;
  border: 5px solid blue;
  /* border-inline-style: dashed; */
  /* background-color: yellow; */
  top: 0px;
  width: 120px;
  height: 120px;  
}

/* Start Support for being able to bring up a pop up menu */
.container__trigger {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */

  /* min-height: 200%; */

  /* height: 1024px; */
  height: 4096px; 

  /* Misc */
  border: 1px solid #cbd5e0;

  /* does nothing overflow-y: auto;  */
}

.container__menu {
  /* absolute position */
  position: absolute;

  /* Reset */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Misc */
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  background-color: #f7fafc;
}

.container__menu--hidden {
  display: none;
}

.container__item {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.container__item:hover {
  background-color: #bee3f8;
}

.container__divider {
  border-bottom: 1px solid #cbd5e0;
  height: 1px;
}
/* END Support for being able to bring up a pop up menu */